{% import "macros.html.twig" as macros %}

{% extends 'base.html.twig' %}

{% block meta_title -%}
    Glossaire | {{ parent() }}
{%- endblock %}

{% block meta_description -%}
    {# TODO #}
{%- endblock %}

{% block body_class 'page-glossary' %}

{% block content %}
    <div class="banner banner--blog">
        <div class="container">
            <h1>Glossaire <strong>/</strong></h1>
            <p>Notre quotidien est fait de termes qui le rendent parfois un peu inaccessible.</p>
            <p>Si c’est un peu comme notre deuxième langue (et encore, il n’est pas impossible qu’on n’arrive pas toujours à se comprendre), ce n’est pas nécessairement le cas de nos clients.</p>
        </div>
    </div>

    <div class="beveled-wrapper">
        <div class="beveled-wrapper__gradient">
            <div class="container shape"><!-- bevel shape --></div>
            <div class="container content">
                <div class="glossary">
                    {% for column in glossary %}
                        <ul class="glossary-list">
                            {% for letter, group in column %}
                                {% for term in group %}
                                    <li class="glossary-list__item {{ loop.first ? 'glossary-list__item--' ~ letter : '' }}">
                                        <a href="{{ path('glossary_term', { term: term.slug })}}">
                                            {{ term.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>

                <h2 class="h2--large"><span>Jetez un oeil à</span> notre blog</h2>
                <p>Pour aller encore plus loin dans le quotidien d'un projet web, en apprendre plus sur notre métier, sur nos retours d'expérience.</p>
                <ul class="miniature-list">
                    {% for article in articles %}
                        {% set url = path('blog_article', { article: article.slug }) %}
                        <li class="miniature">
                            <a href="{{ path('blog_article', { article: article.slug }) }}">
                                <div class="miniature__image">
                                    <span class="image" style="{{ macros.backgroundImageSrcset(article.thumbnail, 'article_thumbnail.sm') }}"></span>
                                </div>
                                <div class="miniature__content">
                                    <h2 class="h3">{{ article.title }}</h2>
                                    <p>{{ article.description }}</p>
                                    <ul class="tags-list">
                                        {% for tag in article.tags %}
                                            <li class="tags-list__item">
                                                #{{ tag|u.camel.title }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <span class="sliding-button sliding-button--mobile">
                                        <span class="sliding-button__content">
                                            <i class="icon icon--arrow-right" aria-hidden="true"></i>
                                            Lire l'article
                                        </span>
                                    </span>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div>
                    <a href="{{ path('blog') }}" class="button">
                        <span>
                            Tous les articles
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
