<ul class="{{ list_class|default('technologies-list') }}">
    {% for slug in terms %}
        {% set term = content_get('App\\Model\\Glossary\\Term', slug) %}
        <li class="technologies-list__item">
            <a href="{{ term.link }}">
                <img src="{{ asset(term.logo) }}" alt="Logo {{ term.logo }}" alt="{{ term.name }}">
                <span>{{ term.name }}</span>
            </a>
        </li>
    {% endfor %}
</ul>
