{% import "macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% block meta_title "La tribu Rix" %}
{% block meta_description "Toute l'équipe Rix" %}
{#{% block og_image asset('social/Rix-home-og2.jpg')  %}#}
{#{% block twitter_image absolute_url(asset('social/rix-ogimage-twitter2.jpg'))  %}#}

{% block content %}
    <div class="container">
        <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a itemprop="item" href="{{ path('homepage') }}">
                    <span itemprop="name">Accueil</span>
                </a>
                <meta itemprop="position" content="1" />
            </li>
            <li class="breadcrumb__item"  itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a itemprop="item" href="#">
                    <span itemprop="name">La tribu</span>
                </a>
                <meta itemprop="position" content="2" />
            </li>
        </ol>

        <div class="page-team">
            <div class="banner-team">
                <div class="banner-team__title">
                    <h1>Ce qui fait notre force : <span>notre tribu</span></h1>
                </div>
                <div class="banner-team__content">
                    <img {{ macros.imageSrcset('/images/members/rix-team-banner.jpg', 'team_banner') }} alt="">
                </div>
            </div>

            <h2>L'équipe</h2>
            <ul>
                {% for member in members %}
                    <li>
                        <a href="{{ path('team_member', { member: member.slug }) }}">
                            <span class="image">
                                 <span style=" {{ macros.backgroundImageSrcset(member.photo, 'team_picture.list') }}"></span>
                            </span>
                            <span class="name">{{ member.name }}</span>
                            <span class="job">{{ member.position|nl2br }}</span>
                            {% for c in member.certifications[0:1] %}
                                {% set certif = content_get('App\\Model\\Certification', c) %}
                                <span class="certification">
                                    <img src="{{ asset(certif.logoPath) }}" alt="" />
                                    <p>{{ 'certification_description'|trans({ member_gender: member.gender }) }} <span>{{ certif.title|u.title }}</span></p>
                                </span>
                            {% endfor %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
