{% extends 'base.html.twig' %}

{% set noindex = true %}

{% block content %}
    <div class="container">
        <h1>
            Signature de
            <span>{{ member.name }}</span>
        </h1>

        <div class="page-signature">
            <div class="page-signature__preview">
                {{ _self.signatureHtml(member) }}
            </div>

            <div class="page-signature__tutorial">
                <h2 class="h4">Copie ce code HTML pour créer ta signature mail.</h2>
                <textarea readonly="readonly" onclick="this.focus();this.select()">
                    {%- apply spaceless -%}
                        {{- _self.signatureHtml(member) -}}
                    {%- endapply -%}
                </textarea>
            </div>
        </div>
    </div>
{% endblock %}

{% macro signatureHtml(member) %}
<table style="margin-top: 20px; padding: 0 50px 10px 0; font-family: Arial, sans-serif; font-size: 12px; background-color: #fff; border-top: 2px solid #07162F; border-spacing: 0;">
    <tbody>
        <tr>
            <td style="padding: 0 20px 0 0; vertical-align: top;">
                <img src="{{ absolute_url(asset('build/images/logos/logo-signature.png')) }}" alt="logo rix" width="68" height="120" style="width: 68px; height: 120px">
            </td>
            <td style="padding-top: 15px; padding-right: 50px;">
                <strong style="font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; color: #07162F; line-height: 20px;">{{ member.name|split(' ', 2)[0] }} <span style="color: #07162F;">{{ member.name|split(' ', 2)[1] }}</span></strong>
                <div style="font-family: Arial, sans-serif; font-size: 14px; color: #07162F; line-height: 20px; white-space: nowrap;"><span style="font-family: Arial, sans-serif; font-size: 14px; color: #07162F !important; line-height: 20px;white-space: normal; hyphens: auto;">{{ member.position }}</span></div>
                <div style="font-family: Arial, sans-serif; font-size: 14px; color: #07162F !important; line-height: 20px; white-space: nowrap;"><a href="mailto:{{ member.email }}" target="_blank" style="font-family: Arial, sans-serif; font-size: 14px; color: #07162F !important; line-height: 20px; text-decoration: none; white-space: normal; word-break: break-all;">{{ member.email -}}</a></div>
                {%- if member.phone is not empty -%}
                    <div style="font-family: Arial, sans-serif; font-size: 14px; color: #07162F; line-height: 20px; white-space: nowrap;"><span style="font-family: Arial, sans-serif; font-size: 14px; color: #07162F !important; line-height: 20px;white-space: normal; word-break: break-all;">{{ member.phone }}</span></div>
                {%- endif -%}
                    <div style="font-family: Arial, sans-serif; font-size: 14px; color: #07162F; line-height: 20px; white-space: nowrap;"><span style="font-family: Arial, sans-serif; font-size: 14px; color: #07162F !important; line-height: 20px;white-space: normal; word-break: break-all;">{{ site.contact.phone }}</span></div>
                <div>
                    <a href="{{ url('homepage') }}" target="_blank" style="font-family: Arial, sans-serif; font-size: 14px; color: #07162F; line-height: 20px; text-decoration: underline; padding-top: 7px; display: block;">rix.com</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
{% endmacro %}
