{% extends 'base.html.twig' %}

{% set interval = date('now').diff(date(site.xpDate)) %}

{% block meta_title "Rix 🐺 - À propos de nous." %}
{% block meta_description "Plus de %d ans d'expérience en exploitation et en outillage d'infrastructures orientées DevOps." |format(interval.y) %}

{% block body_class 'page-about' %}

{% set xpYears = date('now').diff(date(site.xpDate)).y %}

{% block content %}
    <div class="banner banner--about">
        <div class="container">
            <h1>Rix, plus de <strong>{{ xpYears}} ans d'expertise</strong> DevOps en France</h1>
            <p>Nous sommes le résultat de plus de 16 ans d'exploitation, en production, d'applications web métier pour le compte de l'atelier logiciel <a href="https://www.elao.com/">Elao</a>.</p>
            <p>Durant des années nous avons accompagnés développeurs et équipes clientes tout au long de la mise en exploitation d'applications web souvent complexes.</p>
            <a href="{{ path('contact') }}" class="button">Contactez-nous !</a>
        </div>
    </div>

    <div class="beveled-wrapper">
        <div class="beveled-wrapper__gradient">
            <div class="container shape">
                <!-- 🐺 shape -->
                <h2 class="h2--large">
                    <span>Histoire</span>
                    Notre histoire
                </h2>
            </div>
            <div class="container content">
                <section>
                    <ul class="timeline">
                        <li class="timeline__item">
                            <h3 class="title">Analyse</h3>
                            <p>Parce que nous avons évolué au plus près des équipes de développement, nous savons qu'il est essentiel de bien comprendre le métier et d'assimiler ses contraintes.</p>
                        </li>
                        <li class="timeline__item">
                            <h3 class="title">Exploitation</h3>
                            <p>Parce que nous sommes issus de l’exploitation nous avons la prétention d’avoir <strong>une bonne vision</strong> des problématiques de mise en oeuvre d’une application web moderne. Et bien évidemment de son maintien en conditions opérationnelles.</p>
                        </li>
                        <li class="timeline__item">
                            <h3 class="title">Hébergement</h3>
                            <p>Spécialistes de l’hébergement des applications <strong>PHP/ Symfony métier sur-mesure</strong> nous avons au cours de notre expérience été confrontés à beaucoup des situations que vous rencontrez peut-être aujourd’hui.</p>
                        </li>
                    </ul>
                </section>
                <div class="about-values">
                    <h2 class="h2--large">
                        <span>Nos valeurs</span>
                        <quote>«Profile, don't assume !»</quote>
                    </h2>
                    <div class="grid">
                        <ul>
                            <li>
                                <div class="image-title image-title--light">
                                    <img src="{{ asset('build/images/about/values/anticipate.svg') }}" alt="">
                                    <h3 class="image-title__content">Anticiper</h3>
                                </div>
                                Personne n’aime travailler en plein incident, nous mettons un point d’honneur à essayer d’anticiper les plus courants et quand nous n'y arrivons pas à effectuer un diagnostique précis et rapide.
                            </li>
                            <li>
                                <div class="image-title image-title--light">
                                    <img src="{{ asset('build/images/about/values/secure.svg') }}" alt="">
                                    <h3 class="image-title__content">Préserver et sécuriser</h3>
                                </div>
                                Vos données sont le coeur de votre métier. Nous nous efforçons de toujours être irréprochables quant à leur conservation, à leur intégrité et à leur sécurité.
                            </li>
                            <li>
                                <div class="image-title image-title--light">
                                    <img src="{{ asset('build/images/about/values/support.svg') }}" alt="">
                                    <h3 class="image-title__content">Accompagner</h3>
                                </div>
                                Nous avons conscience que nos métiers se sont énormément complexifiés, nous proposons toujours la solution qui nous semble le mieux convenir au <strong>contexte</strong> actuel d'un client sans jamais oublier que ce projet va évoluer, se transformer et grandir.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="team">
            <h2 class="h2--large">
                <span>Notre équipe</span>
                Notre meute, c'est notre force
            </h2>
            <p>Nous sommes soudés et fiers de l'être depuis de nombreuses années.</p>
            <ul class="profile-list">
                <li class="experience experience--light"><strong><span>{{ xpYears }}</span> ans</strong> d'expertise</li>

                {% for member in members %}
                    <li class="profile">
                        <div class="profile__image"></div>
                        <strong class="profile__name">{{ member.name }}</strong>
                        <span class="profile__job">{{ member.position }}</span>
                        <div class="profile__socials">
                            {% if member.github is not empty %}
                                <a href="{{ path('github_account', { account: member.github }) }}" target="_blank">
                                    <i class="icon icon--github" aria-hidden="true"></i>
                                    <span class="screen-reader">Profil Github de {{ member.name }}</span>
                                </a>
                            {% endif %}

                            {% if member.linkedIn is not empty %}
                                <a href="{{ path('linkedIn_account', { account: member.linkedIn }) }}" target="_blank">
                                    <i class="icon icon--linkedin" aria-hidden="true"></i>
                                    <span class="screen-reader">Profil Linkedin de {{ member.name }}</span>
                                </a>
                            {% endif %}

                            {% if member.twitter is not empty %}
                                <a href="{{ path('twitter_account', { account: member.twitter }) }}" target="_blank">
                                    <i class="icon icon--twitter" aria-hidden="true"></i>
                                    <span class="screen-reader">Page Twitter de {{ member.name }}</span>
                                </a>
                            {% endif %}
                        </div>
                    </li>

                    {% if loop.index == 2 %}
                        <li></li>
                        <li></li>
                        <li class="experience  experience--dark">Nous cumulons <strong><span>50</span> ans</strong> d'expérience dans  l'équipe</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
