{% extends 'base.html.twig' %}

{% block meta_title "TODO" %}
{% block meta_description "TODO" %}

{% block body_class 'page-about' %}

{% set xpYears = date('now').diff(date(site.xpDate)).y %}

{% block content %}
    <div class="banner">
        <div class="container">
            <h1>Rix, plus de <strong>{{ xpYears}} ans d'expertise</strong> DevOps en France</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error quae ratione natus ad architecto, doloribus aliquid perferendis et voluptas illo quidem possimus deserunt, recusandae nobis libero sapiente odio eveniet repellendus!</p>
            <a href="{{ path('contact') }}" class="button">Contactez-nous !</a>
        </div>
    </div>

    <div class="beveled-wrapper">
        <div class="beveled-wrapper__gradient">
            <div class="container shape">
                <!-- 🐺 shape -->
                <h2>
                    <span>Histoire</span>
                    Notre histoire
                </h2>
            </div>
            <div class="container content">
                <section>
                    <ul class="timeline">
                        <li class="timeline__item">
                            <h3 class="title">Hébergement</h3>
                            <p>Spécialistes de l’hébergement des applications <strong>PHP/ Symfony métier sur-mesure</strong> nous avons au cours de notre expérience été confrontés à beaucoup des situtations que vous rencontrez peut-être aujourd’hui.</p>
                        </li>
                        <li class="timeline__item">
                            <h3 class="title">Exploitation</h3>
                            <p>Parce que nous sommes issus de l’exploitation nous avons la prétention d’avoir <strong>une bonne vision</strong> des problématiques de mise en oeuvre d’une application web moderne.</p>
                        </li>
                    </ul>
                </section>

                <div class="about-values">
                    <h2>
                        <span>Nos valeurs</span>
                        Lorem, ipsum dolor sit ametem, ipsum dolor sit amet
                    </h2>
                    <div class="grid">
                        <ul>
                            <li>
                                <div class="image-title image-title--light">
                                    <img src="{{ asset('build/images/about/values/anticipate.svg') }}" alt="">
                                    <h3 class="image-title__content">Anticiper</h3>
                                </div>
                                Personne n’aime travailler en plein incident, nous mettons un point d’honneur à essayer d’anticiper les plus courants.
                            </li>
                            <li>
                                <div class="image-title image-title--light">
                                    <img src="{{ asset('build/images/about/values/secure.svg') }}" alt="">
                                    <h3 class="image-title__content">Préserver et sécuriser</h3>
                                </div>
                                Vos données sont bien souvent le coeur de votre métier nous nous efforçons de toujours être irréprochable quant à leur conservation, à leur intégrité et à leur sécurité.
                            </li>
                            <li>
                                <div class="image-title image-title--light">
                                    <img src="{{ asset('build/images/about/values/support.svg') }}" alt="">
                                    <h3 class="image-title__content">Accompagner</h3>
                                </div>
                                Nous avons conscience que nos métiers se sont énormément complexifiés, nous proposons toujours la solution qui nous semble le mieux convenir au contexte actuel de notre client sans jamais oublier que ce projet va évoluer, se transformer et grandir.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="team">
            <h2>
                <span>Notre équipe</span>
                Notre meute, c'est notre force
            </h2>
            <p>Nous sommes soudés et fiers de l'être depuis de nombreuses années.</p>
            <ul class="profile-list">
                <li class="experience experience--light"><strong><span>{{ xpYears }}</span> ans</strong> d'expertise</li>

                {% for member in members %}
                    <li class="profile">
                        <div class="profile__image"></div>
                        <strong class="profile__name">{{ member.name }}</strong>
                        <span class="profile__job">{{ member.position }}</span>
                        <div class="profile__socials">
                            {% if member.github is not empty %}
                                <a href="{{ path('github_account', { account: member.github }) }}" target="_blank">
                                    <i class="icon icon--github" aria-hidden="true"></i>
                                    <span class="screen-reader">Profil Github de {{ member.name }}</span>
                                </a>
                            {% endif %}

                            {% if member.linkedIn is not empty %}
                                <a href="{{ path('linkedIn_account', { account: member.linkedIn }) }}" target="_blank">
                                    <i class="icon icon--linkedin" aria-hidden="true"></i>
                                    <span class="screen-reader">Profil Linkedin de {{ member.name }}</span>
                                </a>
                            {% endif %}

                            {% if member.twitter is not empty %}
                                <a href="{{ path('twitter_account', { account: member.twitter }) }}" target="_blank">
                                    <i class="icon icon--twitter" aria-hidden="true"></i>
                                    <span class="screen-reader">Page Twitter de {{ member.name }}</span>
                                </a>
                            {% endif %}
                        </div>
                    </li>

                    {% if loop.index == 2 %}
                        <li></li>
                        <li></li>
                        <li class="experience  experience--dark">Nous cumulons <strong><span>50</span> ans</strong> d'expérience dans  l'équipe</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
