{% extends 'base.html.twig' %}
{#{% block og_image asset('social/Rix-home-og2.jpg')  %}#}
{#{% block twitter_image absolute_url(asset('social/rix-ogimage-twitter2.jpg'))  %}#}

{% block body_class 'page-contact' %}

{% block content %}
    <div class="container">
        <h1>
            <span>Besoin d'informations ?</span>
            <span>Contactez-nous</span>
            <strong>Promis, on ne mord pas</strong>
        </h1>

        <div class="contact-infos">
            <div class="contact-infos__item">
                <dl>
                    <dt>Téléphone</dt>
                    <dd>
                        <a href="tel:{{ site.contact.phoneto }}">
                            {{ include('partials/contact-icon.html.twig') }}
                            {{ site.contact.phone }}
                        </a>
                    </dd>
                </dl>
            </div>

            <div class="contact-infos__item">
                <dl>
                    <dt>Mail</dt>
                    <dd>
                        <a href="mailto:{{ site.contact.email }}">
                            {{ include('partials/mail-icon.html.twig') }}
                            {{ site.contact.email }}
                        </a>
                    </dd>
                </dl>
            </div>

            <div class="contact-infos__item">
                <div class="dl">
                    <span class="dt">Passez nous voir</span>
                    <span class="dd">
                        {{ include('partials/location-icon.html.twig') }}
                        Nous sommes à Lyon !
                    </span>
                    <span class="dd">{{ site.contact.address }}</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
