{% extends 'base.html.twig' %}
{#{% block og_image asset('social/Rix-home-og2.jpg')  %}#}
{#{% block twitter_image absolute_url(asset('social/rix-ogimage-twitter2.jpg'))  %}#}

{% block content %}
    <div class="container">
        <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a itemprop="item" href="{{ path('homepage') }}">
                    <span itemprop="name">Accueil</span>
                </a>
                <meta itemprop="position" content="1" />
            </li>
            <li class="breadcrumb__item"  itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a itemprop="item" href="#">
                    <span itemprop="name">Contact</span>
                </a>
                <meta itemprop="position" content="2" />
            </li>
        </ol>

        <div class="page-contact">
            <h1>Écrire <span>un petit mot</span></h1>

            <div class="contact">
                <div class="contact__message">
                    <p class="title">Écrivez-nous !,</p>
                    <div class="form-group">
                        <div class="form-group__message">
                            <p>On adore recevoir du courrier <3</p>
                            <p>C'est par là que ça se passe =></p>
                        </div>
                    </div>
                </div>

                <div class="contact__infos" itemscope itemtype="https://schema.org/Organization">
                    <img src="{{ asset('build/images/pages/contact/stamp.svg') }}" alt="">
                    <p class="name" itemprop="name">Rix</p>
                    <address itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                        <span itemprop="streetAddress">{{ site.contact.address.street_address }}</span><br/>
                        <span itemprop="addressLocality">{{ site.contact.address.address_locality }}</span>
                    </address>
                    <address>
                        <a href="tel:{{ site.contact.phoneto }}" itemprop="telephone">{{ site.contact.phone }}</a>
                        <a href="mailto:{{ site.contact.email }}" itemprop="email" data-contact-target="email">{{ site.contact.email }}</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
