{% extends 'base.html.twig' %}
{% block meta_title "Rix 🐺 - Nous contacter" %}
{% block meta_description "Besoin d'informations ? Kubernetes, Openstack, Terraform ? Un projet, n'hésitez pas, contactez-nous !" %}
{% block og_image asset('social/og-default.jpg')  %}
{% block twitter_image absolute_url(asset('social/twitter-default.jpg'))  %}

{% block body_class 'page-contact' %}

{% block content %}
    <div class="container">
        <h1>
            <span>Besoin d'informations ?</span>
            <span>Contactez-nous</span>
            <strong>Promis, on ne mord pas</strong>
        </h1>

        <div class="contact-infos">
            <div class="contact-infos__item">
                <dl>
                    <dt>Téléphone</dt>
                    Une question à nous poser ?
                    <dd>
                        <a href="tel:{{ site.contact.phoneto }}">
                            {{ include('partials/contact-icon.html.twig') }}
                            {{ site.contact.phone }}
                        </a>
                    </dd>
                </dl>
            </div>

            <div class="contact-infos__item">
                <dl>
                    <dt>Mail</dt>
                    Un challenge à nous proposer ?
                    <dd>
                        <a href="mailto:{{ site.contact.email }}">
                            {{ include('partials/mail-icon.html.twig') }}
                            {{ site.contact.email }}
                        </a>
                    </dd>
                </dl>
            </div>

            <div class="contact-infos__item">
                <div class="dl">
                    <span class="dt">Passez nous voir</span>
                    <span class="dd">
                        {{ include('partials/location-icon.html.twig') }}
                        Expliquez-nous votre problématique autour d'un ☕ !
                    </span>
                    <span class="dd">{{ site.contact.streetAddress }} - {{ site.contact.postalCode }} {{ site.contact.addressLocality }}</span>
                </div>
            </div>
        </div>
    </div>
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "Corporation",
        "legalName": "Rix SAS",
        "url": "https://www.rix.fr",
        "logo": "https://www.rix.fr/images/rix.svg",
        "image": "https://www.rix.fr/images/rix.svg",
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "{{ site.contact.addressLocality }}",
            "postalCode": "F-{{ site.contact.postalCode }}",
            "streetAddress": "{{ site.contact.streetAddress }}"
        },
        "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "{{ site.contact.phone }}",
            "contactType": "sales",
            "areaServed": "FR",
            "availableLanguage": ["en","fr"]
        },
        "email": "{{ site.contact.email }}",
        "name": "Rix",
        "telephone": "{{ site.contact.phone }}",
        "sameAs": "https://www.linkedin.com/company/rix-fr/"
        }
    </script>
{% endblock %}
