{% import "macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% set interval = date('now').diff(date(site.xpDate)) %}

{% block meta_title "Rix 🐺 - Expertise Kubernetes & solutions devops sur-mesure" %}
{% block meta_description "Rix concepteurs d'infrastructures résilientes depuis plus de %d ans par des expert·e·s passionné·e·s, spécialistes Kubernetes et des environnements à fortes contraintes techniques."|format(interval.y) %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block body_class 'page-home' %}

{% block content %}

    <div class="banner banner--home">
        <div class="container">
            <h1>Infrastructures <strong>sur-mesure</strong> et outillage DevOps.</h1>
            <p>Grâce à nos cultures DevOps et SecOps, nous assurons le dialogue avec les équipes techniques afin d'apporter notre expertise dans l'analyse des comportements des applications web.</p>
            <p><strong>L'objectif ?</strong> Apporter un maximum d'information à vos équipes pour faciliter leur quotidien.</p>
            <p>Cerise sur le gâteau, Rix est <strong>agréé <a target="_blank" href="https://www.entreprises.gouv.fr/fr/entrepreneuriat/aides-et-financement/credit-d-impot-innovation">CII</a></strong></p>
            <a href="{{ path('contact') }}" class="button">Contactez-nous !</a>
        </div>
    </div>

    <div class="beveled-wrapper beveled-wrapper--wolf">
        <div class="beveled-wrapper__gradient">
            <div class="container shape">
                <!-- 🐺 shape -->
                <h2 class="h2--large">
                    <span>Nos valeurs</span>
                    Nos engagements
                </h2>
            </div>
            <div class="container content">
                <ul class="values">
                    <li class="values__item">
                        <div class="image-title">
                            <img src="{{ asset('build/images/home/values/independance.svg') }}" alt="">
                            <h3 class="image-title__content">Indépendance et gouvernance</h3>
                        </div>
                        <p>Après plusieurs années à utiliser de grand fournisseurs de solution « cloud », nous avons pris le parti d'essayer au maximum, de travailler avec des <strong>acteurs nationaux</strong> afin de trouver des solutions matérielles permettant de construire des <strong>infrastructures robustes et évolutives</strong>.</p>
                        <p>Parce que nous croyons fermement en la nécessité d'indépendance des entreprises Françaises et Européennes vis à vis des grands acteurs étrangers.</p>
                    </li>
                    <li class="values__item">
                        <div class="image-title">
                            <img src="{{ asset('build/images/home/values/proximite.svg') }}" alt="">
                            <h3 class="image-title__content">Proximité et réactivité</h3>
                        </div>
                        <p>Nous aimons rencontrer les personnes avec lesquelles nous travaillons, notre objectif est de bien comprendre les enjeux du métier afin d'apporter un maximum de valeur à travers nos solutions.</p>
                        <p>Chaque projet étant différent nous avons besoin de <strong>comprendre vos contraintes et vos objectifs</strong> afin de faire correspondre nos infrastructures à vos besoins <strong>réels</strong>.</p>
                    </li>
                    <li class="values__item">
                        <div class="image-title">
                            <img src="{{ asset('build/images/home/values/securite.svg') }}" alt="">
                            <h3 class="image-title__content">Sécurité</h3>
                        </div>
                        <p>Très sensibles aux problématiques de sécurité, nous sommes partie prenante de la mise en conformité de vos infrastructures.</p>
                        <p>Nous vous accompagnons pour la mise en place de vos PRA et leur mise en application. Si vous souhaitez aller plus loin, notre réseau de professionnels reconnus vous permettra de mettre en œuvre <strong>Pentest, Audit</strong> et/ou <strong>Bug Bounty</strong>.</p>
                    </li>
                </ul>

                <div class="open-source">
                    <h2 class="open-source__title h2--large">Notre culture,<br>l'Open source</h2>
                    <div class="open-source__content">
                        <p>Adeptes depuis bien des années de la culture OpenSource, nous nous reposons sur des outils libres et contribuons lorsque nous le pouvons, notamment à travers notre projet <strong>Manala</strong></p>
                        <a href="https://github.com/manala" class="button button-ghost button-ghost--light"><span>Aller sur notre Github</span></a>
                    </div>
                </div>

                <section class="home-services">
                    <h2 class="h2--large">
                        <span>Nos services</span>
                        Nous concevons des infrastructures sur-mesure et de l'outillage DevOps
                    </h2>
                    <p>Nous accompagnons vos équipes dans la mise en place de la culture et des outils orientés Ops en nous appuyant sur notre expérience de plus de <strong>15 ans d'exploitation</strong> d'applications web.</p>

                    <div class="services-list">
                        <div class="services-list__title">
                            <h3>
                                <span>Services</span>
                                Conseils DevOps
                            </h3>
                        </div>
                        <ul>
                            <li class="services-list__item">
                                <a href="{{ path('services', { _fragment: 'accompagnement_outillage' }) }}">
                                    <img src="{{ asset('build/images/services/consulting.svg') }}" alt="">
                                    <h4>Accompagnement et outillage DevOps</h4>
                                    <p>Mise à disposition d'outils et transmission de la culture DevOps aux équipes techniques afin de faciliter leur quotidien.</p>
                                    <p>Aide au diagnostique en cas de problèmes applicatifs complexes et conseil pour la résolution.</p>
                                    <span class="sliding-button sliding-button--mobile">
                                        <span class="sliding-button__content">
                                            <i class="icon icon--arrow-right" aria-hidden="true"></i>
                                            Découvrir les services
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li class="services-list__item">
                                <a href="{{ path('services', { _fragment: 'performances_diagnostique' }) }}">
                                    <img src="{{ asset('build/images/services/performance.svg') }}" alt="">
                                    <h4>Performances et diagnostique</h4>
                                    <p>Mesure de performances, tirs de charge, estimation des capacités d'une infrastructure. Mise au point de <strong>PRA</strong> et <strong>PCA</strong>.</p>
                                    <span class="sliding-button">
                                        <span class="sliding-button__content">
                                            <i class="icon icon--arrow-right" aria-hidden="true"></i>
                                            Découvrir les services
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li class="services-list__item">
                                <a href="{{ path('services', { _fragment: 'environment' }) }}">
                                    <img src="{{ asset('build/images/services/environment.svg') }}" alt="">
                                    <h4>Environnement de développement</h4>
                                    <p>Grâce à notre (longue) expérience, nous vous accompagnons pour mettre en place des environnements de développement homogènes, pour ne plus perdre de temps à « remonter » un projet.</p>
                                    <p>Nous pouvons également vous aider à construire vos plateformes d'intégration continue.</p>
                                    <span class="sliding-button">
                                        <span class="sliding-button__content">
                                            <i class="icon icon--arrow-right" aria-hidden="true"></i>
                                            Découvrir les services
                                        </span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="services-list">
                        <div class="services-list__title">
                            <h3>
                                <span>Services</span>
                                Infrastructure
                            </h3>
                        </div>
                        <ul>
                            <li class="services-list__item">
                                <a href="{{ path('services', { _fragment: 'conception_infrastructures' }) }}">
                                    <img src="{{ asset('build/images/services/conception.svg') }}" alt="">
                                    <h4>Conception sur-mesure d'infrastructures</h4>
                                    <p>Étude des contraintes d'exploitation de vos projets (nous n'hésitons pas à mettre le nez dans l'applicatif, nous prenons le temps de comprendre votre métier et vos objectifs) et conception d'infrastructures sur-mesure. </p>
                                    <p>Kubernetes, Openstack ou bare metal.</p>
                                    <span class="sliding-button sliding-button--large sliding-button--replaced">
                                        <img src="{{ asset('build/images/services/ovh-cloud.svg') }}" alt="OVH Cloud">
                                        <img src="{{ asset('build/images/services/scaleway.svg') }}" alt="Scaleway">
                                        <img src="{{ asset('build/images/services/google-cloud.svg') }}" alt="Google Cloud">
                                        <img src="{{ asset('build/images/services/aws.svg') }}" alt="AWS">
                                        <span class="sliding-button__content">
                                            <i class="icon icon--arrow-right" aria-hidden="true"></i>
                                            Découvrir les services
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li class="services-list__item">
                                <a href="{{ path('services', { _fragment: 'experts_kubernetes' }) }}">
                                    <img src="{{ asset('build/images/services/cloud.svg') }}" alt="">
                                    <h4>Expertise Kubernetes</h4>
                                    <p>Conception et mise en oeuvre avec vos équipes <strong>(c'est important;))</strong> de cluster Kubernetes. Stratégies de déploiement, supervision... </p>
                                    <span class="sliding-button sliding-button--large sliding-button--replaced">
                                        <img src="{{ asset('build/images/services/ovh-cloud.svg') }}" alt="OVH Cloud">
                                        <img src="{{ asset('build/images/services/scaleway.svg') }}" alt="Scaleway">
                                        <img src="{{ asset('build/images/services/google-cloud.svg') }}" alt="Google Cloud">
                                        <img src="{{ asset('build/images/services/aws.svg') }}" alt="AWS">
                                        <span class="sliding-button__content">
                                            <i class="icon icon--arrow-right" aria-hidden="true"></i>
                                            Découvrir les services
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li class="services-list__item">
                                <a href="{{ path('services', { _fragment: 'pilotage_infrastructures' }) }}">
                                    <img src="{{ asset('build/images/services/sovereignty.svg') }}" alt="">
                                    <h4>Pilotage d'infrastructures</h4>
                                    <p>Supervision active de vos infrastructures, suivi de la montée en charge lors d’événement ponctuels, reprise sur incident.</p>
                                    <span class="sliding-button sliding-button--replaced">
                                        <img src="{{ asset('build/images/services/ovh-cloud.svg') }}" alt="OVH Cloud">
                                        <img src="{{ asset('build/images/services/scaleway.svg') }}" alt="Scaleway">
                                        <span class="sliding-button__content">
                                            <i class="icon icon--arrow-right" aria-hidden="true"></i>
                                            Découvrir les services
                                        </span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <section class="home-ecosystem">
        <div class="container">
            <h2 class="h2--large">
                <span>Notre territoire</span>
                Un écosystème éprouvé
            </h2>
            <div class="ecosystem">
                <img src="{{ asset('build/images/home/ecosystem/wolf.png') }}" alt="">
                <ul class="ecosystem__list">
                    <li class="analysis">
                        <img src="{{ asset('build/images/home/ecosystem/analysis.svg') }}" alt="">
                        <h4>Analyse</h4>
                        <p>Collecte des données et analyse des comportements applicatifs et système pour le pilotage et la compréhension des incidents.</p>
                    </li>
                    <li class="detection">
                        <img src="{{ asset('build/images/home/ecosystem/detection.svg') }}" alt="">
                        <h4>Détection</h4>
                        <p>Système de supervision permettant d'anticiper au maximum de potentiels incidents.</p>
                    </li>
                    <li class="automation">
                        <img src="{{ asset('build/images/home/ecosystem/automation.svg') }}" alt="">
                        <h4>Automation</h4>
                        <p>Construction des environnements applicatifs à l'aide d'outils d'IAC et de stratégies « d'automation »</p>
                    </li>
                    <li class="supervision">
                        <img src="{{ asset('build/images/home/ecosystem/supervision.svg') }}" alt="">
                        <h4>Supervision</h4>
                        <p>Supervision des systèmes et des applications en temps réel.</p>
                    </li>
                    <li class="backup">
                        <img src="{{ asset('build/images/home/ecosystem/backup.svg') }}" alt="">
                        <h4>Sauvegarde</h4>
                        <p>Mise en sûreté de vos données, avec réplication et chiffrement.</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="home-clients container">
        <h2 class="h2--large">
            <span>Nos clients</span>
            Ils nous font confiance
        </h2>
        {{ include('partials/client-list.html.twig')}}
    </section>
{% endblock %}
