{% extends 'base.html.twig' %}

{% block body_class %}page-legals{% endblock %}

{% block content %}

    <div class="banner">
        <div class="container">
            <h1>Mentions légales</h1>
        </div>
    </div>

    <div class="beveled-wrapper">
        <div class="beveled-wrapper__gradient">
            <div class="container shape"><!-- 🐺 shape --></div>
            <div class="container content">
                <h2 class="h3">Édition/Publication</h2>
                <p>Ce support numérique est édité par la société Rix, Société par Action Simplifiée au capital de 10 000 euros, immatriculée au registre du commerce et des sociétés de Lyon sous les numéro 882 702 319, dont le siège Social est sis 34 rue Jean Broquin, 69006 Lyon (numéro de TVA intracommunautaire : FR82882702319)</p>
                <p>
                    Le directeur de la publication est Mr Guewen FAIVRE.<br>
                    Tél.: 04 82 53 37 19<br>
                    Courriel: contact@rix.fr
                </p>

                <h2 class="h3">Conditions générales d'utilisation</h2>
                <p>L'accès et l'utilisation de ce support sont régis par les présentes conditions d’utilisation. Par votre accès, votre navigation et votre utilisation de notre site, vous reconnaissez que vous avez lu, compris et accepté sans réserve ces présentes conditions. <strong>Nous nous réservons le droit de les modifier.</strong></p>

                <h2 class="h3">Liens</h2>
                <p>Bien que nous vérifiions le contenu des liens hypertextes pointant sur des pages extérieures au moment de leur création, le contenu des sites visés peut changer postérieurement à cette vérification. Nous invitons donc les visiteurs à la plus grande prudence.</p>
                <p>De même, nous vous prions de bien vouloir nous signaler tout lien hypertexte brisé ou erroné.</p>

                <h2 class="h3">Contenus</h2>
                <p>Bien que nous nous efforçions d'être le plus rigoureux possible, nous ne pouvons garantir l'exactitude et l'exhaustivité des données publiées sur ce support.</p>
                <p>Le site est maintenu et mis à jour, nous ne pouvons néanmoins pas garantir l'actualisation des informations et méthodes qu'il contient.</p>
                <p>Nous nous réservons le droits de corriger à tous moment ces données si d'aventure nous constations qu'elles sont érronées ou inexactes. En conséquence, l'utilisateur est seul responsable de leur utilisation.</p>

                <h2 class="h3">Responsabilité</h2>
                <p>Nous ne pourrions être tenu pour responsable des dommages directs ou indirects qui pourraient résulter de l'accès ou de l'utilisation des ressources proposées par ce site.</p>
                <p>Concernant les articles du blog notamment, ils sont rédigés à des fins pédagogiques et éducatives et doivent être mis en application en ayant bien compris leur finalité.</p>
                <p>Nous nous réservons le droit de modifier ou d'interrompre, temporairement ou de façon permanente, tout ou partie de l'accès au site afin d'effectuer les opérations de maintenance nécessaires à son bon fonctionnement.</p>

                <h2 class="h3">Protection des données personnelles</h2>
                <p>La confidentialité et la sécurité de vos données est une priorité <strong>absolue</strong> pour nous.</p>
                <p>Les adresses électroniques recueillies dans le cadre du formulaire de contact ne sont utilisées que pour l'envoi d'informations ayant motivé l'inscription.</p>
                <p>Pour plus d’informations sur nos pratiques de confidentialité et les mesures prises pour protéger votre vie privée, consultez en détails notre page <a class="link" href="{{ path('privacy') }}">protection des données.</a></p>

                <h2 class="h3">Droits d'auteur</h2>
                <h3 class="h4"><span>Reproduction sur support papier</span></h3>
                <p>À l'exception de l'iconographie, la reproduction des pages de ce site sur un support papier est autorisée, sous réserve du respect des trois conditions suivantes :</p>
                <h3 class="h4"><span>Gratuité de la diffusion</span></h3>
                <p> Respect de l'intégrité des documents reproduits (aucune modification, ni altération d'aucune sorte). Citation explicite du site <a class="link" href="{{ path('homepage') }}">({{ url('homepage') }})</a> comme source et mention que les droits de reproduction sont réservés et strictement limités</p>
                <h3 class="h4"><span>Reproduction sur support électronique</span></h3>
                <p>La reproduction de tout ou partie de ce site sur un support électronique est autorisée sous réserve de l'ajout de façon claire et lisible de la source <a class="link" href="{{ path('homepage') }}">({{ url('homepage') }})</a> et de la mention "Droits réservés". Les informations utilisées ne doivent l'être à des fins personnelles, associatives ou professionnelles ; toute utilisation à des fins commerciales ou publicitaires est exclue.</p>
                <p><strong>En utilisant nos services vous faites confiance à une entreprise française dont le siège social et les équipes sont à Lyon. (Et on y mange bien, alors n'hésitez pas à passer nous voir ! ;) )</strong></p>
            </div>
        </div>
    </div>
{% endblock %}
