{% extends 'base.html.twig' %}
{% block og_image asset('social/Rix-home-og2.jpg')  %}
{% block twitter_image absolute_url(asset('social/rix-ogimage-twitter2.jpg'))  %}
{% block meta_title "Nos services" %}
{% block meta_description "Nous offrons de nombreux services autour de la philosophie DevOps. Outils, savoir-faire, méthodes et bien évidemment infogérance complète de vos infrastructures. Nous disposons également de solide compétences et d'une grosse expérience avec Kubernetes." %}

{% block body_class 'page-services' %}

{% block content %}

    <div class="banner">
        <div class="container">
            <h1>L'expérience de l'exploitation <strong>pour vous, avec vous.</strong></h1>
            <p>Le moins que l'on puisse dire c'est qu'on a roulé notre bosse. On en a vu des infras, de celle qui mets des paillettes dans les yeux à celle qui empêche de dormir la nuit. Une chose est sûre elles sont toutes <strong>uniques</strong> mais avec l'expérience on a su s'équiper au fil des années, pour les faires parler et leur faire dire ce qui ne va pas.</p>
            <a href="{{ path('contact') }}" class="button">Contactez-nous !</a>
        </div>
    </div>

    <div class="beveled-wrapper">
        <div class="beveled-wrapper__gradient">
            <div class="container shape">
                <!-- 🐺 shape -->
                <h2 class="h2--large">
                    <span>Services</span>
                    Conseils DevOps
                </h2>
            </div>
            <div class="container content">
                <section class="page-services__content">
                    <img src="{{ asset('build/images/services/consulting.svg') }}" alt="">
                    <h3>Accompagnement et outillage DevOps</h3>
                    <p>DevLab qui regroupe des outils devops éprouvés tout au long de nos 15 ans d'expérience dans l'écosystème web : stratégie et automatisation des processus de déploiement d'applications (intégration continue, réduction des cycles de livraison), traitement des logs applicatifs et système, supervision des systèmes et applicatifs en temps réel, service de secrets applicatifs (vault), stratégie d'anonymisation des données, etc.</p>
                    <p>Nous prenons en charge <strong>leur hébergement et leur maintenance</strong> mais nous pouvons également intervenir directement chez vous pour vous conseiller et/ou les mettre en place ou <strong>accompagner</strong> vos équipes devops.</p>
                    <ul>
                        <li>Hébergé en France;</li>
                        <li>15 ans d'expérience de stratégie de déploiement et d'outillages;</li>
                        <li>Expertise d'outils devops opensource;</li>
                        <li>Mise en place, conseil et accompagnement des équipes.</li>
                    </ul>
                </section>
                <section class="page-services__content">
                    <img src="{{ asset('build/images/services/conception.svg') }}" alt="">
                    <h3>Conception d'infrastructures sur-mesure</h3>
                    <p>De la conception à la mise en production, nous étudions le projet que vous souhaitez faire héberger, nous assimilons votre métier, ses contraintes et ses spécificités.</p>
                    <p>L’objectif étant de concevoir une infrastructure en adéquation avec le besoin de vos applicatifs et de vos équipes tout en respectant leur équilibre budgétaire.</p>
                    <ul>
                        <li>Conception et déploiement vers le fournisseur de matériel choisi;</li>
                        <li>Infogérances et maintenance des infrastructures;</li>
                        <li>Supervision active des serveurs et des applicatifs;</li>
                        <li>Anticipation au maximum des incidents et accompagnement quotidien et sur incident.</li>
                    </ul>
                </section>
                <section class="page-services__content">
                    <img src="{{ asset('build/images/services/environment.svg') }}" alt="">
                    <h3>Environnement de développement</h3>
                    <p>L'un des avantages d'évoluer dans l'écosystème des concepteurs d'applications c'est d'avoir une vision globale de la mise en œuvre d'une application. De sa conception jusqu'à sa mise en production en passant par sa réalisation.</p>
                    <p>Nous avons très vite pris la mesure de l'importance d'avoir un environnement de développement (une usine logiciel) qui permet aux équipes de développeurs de ne pas (ou peu) avoir à se soucier de la création de l'environnement applicatif.</p>
                    <p>L'idéal ? Utiliser le même socle IAC (Infrastructure As Code) pour automatiser la création de ses environnements de développement que pour créer ses environnements de production.</p>
                    <ul>
                        <li>Même socle applicatif chez tous les développeurs;</li>
                        <li>Gain de temps, les équipes sont efficaces;</li>
                        <li>Porte d'entrée pour une montée en compétence vers la philosophie DevOps;</li>
                        <li>Mise en place, conseil et accompagnement des équipes.</li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="h2--large">
            <span>Services</span>
            Infrastructure
        </h2>
        <section class="page-services__content">
            <img src="{{ asset('build/images/services/cloud.svg') }}" alt="">
            <h3>Pilotage d'infrastructures cloud</h3>
            <p>DevLab qui regroupe des outils devops éprouvés tout au long de nos 15 ans d'expérience dans l'écosystème web : stratégie et automatisation des processus de déploiement d'applications (intégration continue, réduction des cycles de livraison), traitement des logs applicatifs et système, supervision des systèmes et applicatifs en temps réel, service de secrets applicatifs (vault), stratégie d'anonymisation des données, etc.</p>
            <p>Nous prenons en charge leur hébergement et leur maintenance mais nous pouvons également intervenir directement chez vous pour vous conseiller et/ou les mettre en place ou accompagner vos équipes devops. De la conception à la mise en production, nous étudions le projet que vous souhaitez faire héberger, nous assimilons votre métier, ses contraintes et ses spécificités.L’objectif étant de concevoir une infrastructure en adéquation avec le besoin de vos applicatifs et de vos équipes tout en respectant leur équilibre budgétaire.</p>
            <ul>
                <li>Hébergé au choix en France ou ailleurs</li>
                <li>15 ans d'expérience de stratégie de déploiement et d'outillages</li>
                <li>Expertise d'outils devops opensource</li>
                <li>Mise en place, conseil et accompagnement des équipes</li>
            </ul>
        </section>
        <div class="page-services__images">
            <span>
                <img src="{{ asset('build/images/services/aws.svg') }}" alt="AWS">
            </span>
            <span>
                <img src="{{ asset('build/images/services/google-cloud.svg') }}" alt="Google Cloud">
            </span>
        </div>
        <section class="page-services__content">
            <img src="{{ asset('build/images/services/cloud.svg') }}" alt="">
            <h3>Pilotage d'infrastructures cloud</h3>
            <p>DevLab qui regroupe des outils devops éprouvés tout au long de nos 15 ans d'expérience dans l'écosystème web : stratégie et automatisation des processus de déploiement d'applications (intégration continue, réduction des cycles de livraison), traitement des logs applicatifs et système, supervision des systèmes et applicatifs en temps réel, service de secrets applicatifs (vault), stratégie d'anonymisation des données, etc.</p>
            <p>Nous prenons en charge leur hébergement et leur maintenance mais nous pouvons également intervenir directement chez vous pour vous conseiller et/ou les mettre en place ou accompagner vos équipes devops. De la conception à la mise en production, nous étudions le projet que vous souhaitez faire héberger, nous assimilons votre métier, ses contraintes et ses spécificités.L’objectif étant de concevoir une infrastructure en adéquation avec le besoin de vos applicatifs et de vos équipes tout en respectant leur équilibre budgétaire.</p>
            <ul>
                <li>Hébergé au choix en France ou ailleurs</li>
                <li>15 ans d'expérience de stratégie de déploiement et d'outillages</li>
                <li>Expertise d'outils devops opensource</li>
                <li>Mise en place, conseil et accompagnement des équipes</li>
            </ul>
        </section>
        <div class="page-services__images">
            <span>
                <img src="{{ asset('build/images/services/aws.svg') }}" alt="AWS">
            </span>
            <span>
                <img src="{{ asset('build/images/services/google-cloud.svg') }}" alt="Google Cloud">
            </span>
        </div>
        <section class="page-services__content">
            <img src="{{ asset('build/images/services/cloud.svg') }}" alt="">
            <h3>Pilotage d'infrastructures souveraines</h3>
            <p>DevLab qui regroupe des outils devops éprouvés tout au long de nos 15 ans d'expérience dans l'écosystème web : stratégie et automatisation des processus de déploiement d'applications (intégration continue, réduction des cycles de livraison), traitement des logs applicatifs et système, supervision des systèmes et applicatifs en temps réel, service de secrets applicatifs (vault), stratégie d'anonymisation des données, etc.</p>
            <p>Nous prenons en charge leur hébergement et leur maintenance mais nous pouvons également intervenir directement chez vous pour vous conseiller et/ou les mettre en place ou accompagner vos équipes devops. De la conception à la mise en production, nous étudions le projet que vous souhaitez faire héberger, nous assimilons votre métier, ses contraintes et ses spécificités. L’objectif étant de concevoir une infrastructure en adéquation avec le besoin de vos applicatifs et de vos équipes tout en respectant leur équilibre budgétaire.</p>
            <ul>
                <li>Hébergé au choix en France ou ailleurs</li>
                <li>15 ans d'expérience de stratégie de déploiement et d'outillages</li>
                <li>Expertise d'outils devops opensource</li>
                <li>Mise en place, conseil et accompagnement des équipes</li>
            </ul>
        </section>
        <div class="page-services__images">
            <span>
                <img src="{{ asset('build/images/services/ovh-cloud.svg') }}" alt="AWS">
            </span>
            <span>
                <img src="{{ asset('build/images/services/scaleway.svg') }}" alt="Google Cloud">
            </span>
        </div>
        <section class="page-services__content">
            <img src="{{ asset('build/images/services/performance.svg') }}" alt="">
            <h3>Performance diagnostique</h3>
            <p>DevLab qui regroupe des outils devops éprouvés tout au long de nos 15 ans d'expérience dans l'écosystème web : stratégie et automatisation des processus de déploiement d'applications (intégration continue, réduction des cycles de livraison), traitement des logs applicatifs et système, supervision des systèmes et applicatifs en temps réel, service de secrets applicatifs (vault), stratégie d'anonymisation des données, etc.</p>
            <p>Nous prenons en charge leur hébergement et leur maintenance mais nous pouvons également intervenir directement chez vous pour vous conseiller et/ou les mettre en place ou accompagner vos équipes devops. De la conception à la mise en production, nous étudions le projet que vous souhaitez faire héberger, nous assimilons votre métier, ses contraintes et ses spécificités. L’objectif étant de concevoir une infrastructure en adéquation avec le besoin de vos applicatifs et de vos équipes tout en respectant leur équilibre budgétaire.</p>
            <ul>
                <li>Hébergé au choix en France ou ailleurs</li>
                <li>15 ans d'expérience de stratégie de déploiement et d'outillages</li>
                <li>Expertise d'outils devops opensource</li>
                <li>Mise en place, conseil et accompagnement des équipes</li>
            </ul>
        </section>
    </div>
    <div class="container">
        <div class="case-study">
        <h2 class="h2--large">
            <span>Cas client</span>
            Études de cas
        </h2>
        {{ include('partials/last-case-studies.html.twig')}}
    </div>
{% endblock %}
