{% extends 'base.html.twig' %}
{% block og_image asset('social/Rix-home-og2.jpg')  %}
{% block twitter_image absolute_url(asset('social/rix-ogimage-twitter2.jpg'))  %}
{% block meta_title "Rix 🐺 - Nos services" %}
{% block meta_description "Nous offrons de nombreux services autour de la philosophie DevOps. Outils, savoir-faire, méthodes et bien évidemment infogérance complète de vos infrastructures. Nous disposons également de solide compétences et d'une grosse expérience avec Kubernetes." %}

{% block body_class 'page-services' %}

{% block content %}

    <div class="banner">
        <div class="container">
            <h1>L'expérience de l'exploitation <strong>pour vous, avec vous.</strong></h1>
            <p>Le moins que l'on puisse dire c'est qu'on a roulé notre bosse. On en a vu des infras...</p>
            <p>De celle qui mets des paillettes dans les yeux à celle qui empêche de dormir la nuit. Une chose est sûre elles sont toutes <strong>uniques</strong> mais avec l'expérience on a su s'équiper, et concevoir/trouver les bons outils pour les faires parler et leur faire dire ce qui ne va pas.</p>
            <a href="{{ path('contact') }}" class="button">Contactez-nous !</a>
        </div>
    </div>

    <div class="beveled-wrapper">
        <div class="beveled-wrapper__gradient">
            <div class="container shape">
                <!-- 🐺 shape -->
                <h2 class="h2--large">
                    <span>Services</span>
                    Conseils DevOps
                </h2>
            </div>
            <div class="container content">
                <section class="page-services__content" id="accompagnement_outillage">
                    <img src="{{ asset('build/images/services/consulting.svg') }}" alt="">
                    <h3>Accompagnement et outillage DevOps</h3>
                    <p>DevLab qui regroupe des outils devops éprouvés tout au long de nos 15 ans d'expérience dans l'écosystème web : stratégie et automatisation des processus de déploiement d'applications (intégration continue, réduction des cycles de livraison), traitement des <strong>logs applicatifs et système</strong>, <strong>supervision</strong> des systèmes et applicatifs en temps réel, <strong>service de secrets applicatifs</strong> (vault), stratégie d'anonymisation des données, etc.</p>
                    <p>Nous prenons en charge <strong>leur hébergement et leur maintenance</strong> mais nous pouvons également intervenir directement chez vous pour vous conseiller et/ou les mettre en place ou <strong>accompagner</strong> vos équipes devops.</p>
                    <ul>
                        <li>Hébergé en France;</li>
                        <li>15 ans d'expérience de stratégie de déploiement et d'outillages;</li>
                        <li>Expertise d'outils devops opensource;</li>
                        <li>Mise en place, conseil et accompagnement des équipes.</li>
                    </ul>
                </section>
                 <section class="page-services__content" id="performances_diagnostique">
                    <img src="{{ asset('build/images/services/performance.svg') }}" alt="">
                    <h3>Performance et diagnostique</h3>
                    <p>Parce que la vie d'une application est loin d'être un long fleuve tranquille, nous pouvons vous accompagner à <strong>diagnostiquer</strong> certaines problématiques applicatives mais également vous aider à mettre en place <strong>PRA et PCA</strong> afin qu'en cas d'incident, sa résolution soit <strong>la plus efficace/rapide possible</strong>.</p>
                    <p>

                    </p>
                    <ul>
                        <li>Tirs de charge afin d'estimer le point de dégradation et/ou de rupture de votre service;</li>
                        <li>Diagnostique et piste de résolution en cas de comportement anormal;</li>
                        <li>Accompagnement et rédaction des PRA/PCA.</li>
                    </ul>
                </section>
                <section class="page-services__content" id="environment">
                    <img src="{{ asset('build/images/services/environment.svg') }}" alt="">
                    <h3>Environnement de développement</h3>
                    <p>L'un des avantages d'évoluer dans l'écosystème des concepteurs d'applications c'est d'avoir <strong>une vision globale de sa mise en œuvre</strong>. De sa conception jusqu'à sa mise en production en passant par sa réalisation.</p>
                    <p>Nous avons très vite pris la mesure de l'importance d'avoir un environnement de développement (une usine logiciel) qui permet aux équipes de développeurs de ne pas (ou peu) avoir à se soucier de la création de l'environnement applicatif.</p>
                    <p>L'idéal ? Utiliser le même socle IAC (Infrastructure As Code) pour automatiser la création de ses environnements de développement que pour créer ses environnements de production.</p>
                    <ul>
                        <li>Même socle applicatif chez tous les développeurs;</li>
                        <li>Gain de temps, les équipes sont efficaces;</li>
                        <li>Porte d'entrée pour une montée en compétences vers la philosophie DevOps;</li>
                        <li>Mise en place, conseil et accompagnement des équipes.</li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="h2--large">
            <span>Services</span>
            Infrastructure
        </h2>
        <section class="page-services__content" id="experts_kubernetes">
            <img src="{{ asset('build/images/services/cloud.svg') }}" alt="">
            <h3>Expertise Kubernetes</h3>
            <p>Technologie de plus en plus demandée, Kubernetes tient beaucoup de promesses mais amène énormément de contraintes.
            Nous exploitons et concevons des solutions sur ce socle depuis la disponibilité du produit et avons accompagné des équipes importantes lors de la migration de leur existant vers cette solution.</p>
            <p>Nous sommes en capacité de vous apporter une étude de faisabilité, d'accompagner et former vos équipes et de concevoir l'ensemble des composants nécessaires au bon fonctionnement d'une infrastructure Kubernetes.</p>
            <ul>
                <li>Conseils d'experts pour la conception (ou la migration) de votre application;</li>
                <li>Grosse expérience auprès de « pure player » d'envergure;</li>
                <li>Mise en place, conseil et accompagnement des équipes</li>
            </ul>
        </section>
        <div class="page-services__images">
            <span>
                <img src="{{ asset('build/images/services/aws.svg') }}" alt="AWS">
            </span>
            <span>
                <img src="{{ asset('build/images/services/google-cloud.svg') }}" alt="Google Cloud">
            </span>
        </div>
        <div class="page-services__images">
            <span>
                <img src="{{ asset('build/images/services/ovh-cloud.svg') }}" alt="AWS">
            </span>
            <span>
                <img src="{{ asset('build/images/services/scaleway.svg') }}" alt="Google Cloud">
            </span>
        </div>
        <section class="page-services__content" id="pilotage_infrastructures">
            <img src="{{ asset('build/images/services/cloud.svg') }}" alt="">
            <h3>Pilotage d'infrastructures</h3>
            <p>Le coeur de notre métier ! Assurer la maintenance en conditions opérationnelles de vos infrastructures, être proactif quant aux possibles incidents et intervenir rapidement lorsqu'ils surviennent.
            </p>
            <ul>
                <li>Hébergé au choix en France ou ailleurs;</li>
                <li>Supervision active des serveurs et des applicatifs;</li>
                <li>Une équipe support disponible en cas d'incidents;</li>
                <li>La garantie d'un suivi régulier (Comportement, mise à jour, sécurité).</li>
            </ul>
        </section>
        <div class="page-services__images">
            <span>
                <img src="{{ asset('build/images/services/ovh-cloud.svg') }}" alt="AWS">
            </span>
            <span>
                <img src="{{ asset('build/images/services/scaleway.svg') }}" alt="Google Cloud">
            </span>
        </div>
       <section class="page-services__content" id="conception_infrastructures">
            <img src="{{ asset('build/images/services/conception.svg') }}" alt="">
            <h3>Conception d'infrastructures sur-mesure</h3>
            <p>De la conception à la mise en production, nous étudions le projet que vous souhaitez faire héberger, nous assimilons votre métier, ses contraintes et ses spécificités.</p>
            <p>L’objectif étant de concevoir une infrastructure en adéquation avec le besoin de vos applicatifs et de vos équipes tout en respectant leur équilibre budgétaire.</p>
            <ul>
                <li>Étude de votre projet, recommandation d'un fournisseur en fonction de vos objectifs;</li>
                <li>Conception et déploiement vers le fournisseur de matériel choisi.</li>
            </ul>
        </section>
        <div class="page-services__images">
            <span>
                <img src="{{ asset('build/images/services/aws.svg') }}" alt="AWS">
            </span>
            <span>
                <img src="{{ asset('build/images/services/google-cloud.svg') }}" alt="Google Cloud">
            </span>
        </div>
        <div class="page-services__images">
            <span>
                <img src="{{ asset('build/images/services/ovh-cloud.svg') }}" alt="AWS">
            </span>
            <span>
                <img src="{{ asset('build/images/services/scaleway.svg') }}" alt="Google Cloud">
            </span>
        </div>
    </div>
    <div class="container">
        <div class="case-study">
        <h2 class="h2--large">
            <span>Cas client</span>
            Études de cas
        </h2>
        {{ include('partials/last-case-studies.html.twig')}}
    </div>
{% endblock %}
