<ul class="client-list">
    <li class="client-list__item">
        <div class="image" style="background-image:url({{ asset('build/images/home/clients/bedrock.png') }})"></div>
        <p class="screen-reader">M6</p>
        <p>Fondé par le groupe <strong>M6</strong> et co entreprit avec le groupe RTL, Bedrock conçoit et exploite des <strong>plateformes de streaming</strong> à la pointe de l'état de l'art à destination de différents groupe de médias et diffuseurs à travers l'Europe.</p>
    </li>
    <li class="client-list__item">
        <div class="image" style="background-image:url({{ asset('build/images/home/clients/cnrh.png') }})"></div>
        <p class="screen-reader">Centre de Recherche en Nutrition Humaine Rhône-Alpes</p>
        <p><strong>Le Centre de Recherche en Nutrition Humaine</strong> Rhône-Alpes travaille à l’amélioration de l’alimentation <strong>pour la santé et le bien-être de l’Homme</strong>. Il développe des programmes de recherche en nutrition dans le cadre des appels d’offres nationaux, européens et internationaux et collabore avec les industriels et les chercheurs de grands groupes mondiaux.</p>
    </li>
    <li class="client-list__item">
        <div class="image" style="background-image:url({{ asset('build/images/home/clients/elao.png') }})"></div>
        <p class="screen-reader">Elao</p>
        <p><strong>Elao</strong> est un atelier de <strong>co-conception d'applications web et mobile</strong> sur mesure mais avant tout une équipe de concepteurs / développeurs seniors. Spécialistes des applications métiers <strong> à forte valeur stratégique</strong> Elao aime être au contact des utilisateurs finaux afin d'être au cœur du métier de ses clients.</p>
    </li>
    <li class="client-list__item">
        <div class="image" style="background-image:url({{ asset('build/images/home/clients/grieps.png') }})"></div>
        <p class="screen-reader">GRIEPS</p>
        <p>Le <strong>GRIEPS</strong>, organisme de formation-conseil, est une <strong>SCOP</strong> qui accompagne les établissements sanitaires et médicosociaux ainsi que les professionnels de santé salariés et libéraux à répondre aux besoins de <strong>santé de la population</strong> et à s'adapter aux <strong>mutations de l'environnement</strong> sur les plans cliniques, organisationnels et managériaux.</p>
    </li>
    <li class="client-list__item">
        <div class="image" style="background-image:url({{ asset('build/images/home/clients/maison-de-la-danse.png') }})"></div>
        <p class="screen-reader">Maison de la danse</p>
        <p><strong>Numeridanse</strong> est la <strong>plateforme multimédia de la danse</strong>. Elle donne accès à un fonds vidéo unique : spectacles filmés, documentaires, interviews, fictions, vidéo danse. Tous les genres, styles et formes sont représentés : butô, danse classique, néoclassique, baroque, danses indiennes, africaines, flamenco, contemporain, danses traditionnelles, hip hop, tango, jazz, arts du cirque, performance... Porté et coordonné par la <strong>Maison de la Danse de Lyon</strong>, Numeridanse a été imaginé par le réalisateur Charles Picq.</p>
    </li>
    <li class="client-list__item">
        <div class="image" style="background-image:url({{ asset('build/images/home/clients/musique-music.png') }})"></div>
        <p class="screen-reader">Musique & Music</p>
        <p>Première <strong>librairie musicale indépendante française</strong>. <strong>Musique & Music</strong> accompagne depuis 30 ans les professionnels dans l'illustration sonore de leurs projets audiovisuels. En associant des services et des outils innovant à une librairie musicale riche de <strong>près de 720 000 titres</strong>, Musique & Music permets à ses clients de gagner un temps précieux dans leurs recherches musicales.</p>
    </li>
    <li class="client-list__item">
        <div class="image" style="background-image:url({{ asset('build/images/home/clients/panneau-pocket.png') }})"></div>
        <p class="screen-reader">Panneau pocket</p>
        <p><strong>Panneau pocket</strong> est l’application mobile d’informations et d’alertes n°1 en France avec plus de <strong>9000 collectivités</strong> équipées. Mairies, Gendarmeries, Intercommunalités, Ecoles, RPI des enfants, Syndicats des eaux … les citoyens retrouvent leur vie locale dans une seule et unique application sur leur smartphone. La population reçoit en <strong>temps réel</strong> les notifications des actualités de leur territoire : c’est l’information qui va vers l’habitant !</p>
    </li>
    <li class="client-list__item">
        <div class="image" style="background-image:url({{ asset('build/images/home/clients/wotol.png') }})"></div>
        <p class="screen-reader">Wotol</p>
        <p><strong>Wotol</strong> est une des plus anciennes place de marché B2B <strong>entièrement dédiée à l'industrie</strong> et à l'achat de revente de machines outils.</p>
    </li>
</ul>
