<ul class="client-list">
    <li>
        <img src="{{ asset('build/images/logos/clients/bedrock.png') }}" alt="">
        <p>Fondé par le groupe M6 et co entreprit avec le groupe RTL Bedrock, conçoit et exploite des plateformes de streaming à la pointe de l'état de l'art à destination de différents groupe de médias et diffuseurs à travers l'Europe.</p>
    </li>
    <li>
        <img src="{{ asset('build/images/logos/clients/crnh.png') }}" alt="">
        <p>Duis lacinia mauris tortor, eu aliquam lectus tincidunt nec. Vivamus venenatis tellus at turpis fringilla, a placerat turpis gravida. Praesent in lobortis nulla, id gravida elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris vitae scelerisque massa.</p>
    </li>
    <li>
        <img src="{{ asset('build/images/logos/clients/elao.png') }}" alt="Grieps logo">
        <p>Duis lacinia mauris tortor, eu aliquam lectus tincidunt nec. Vivamus venenatis tellus at turpis fringilla, a placerat turpis gravida. Praesent in lobortis nulla, id gravida elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris vitae scelerisque massa.</p>
    </li>
    <li>
        <img src="{{ asset('build/images/logos/clients/grieps.png') }}" alt="Maison de la danse logo">
        <p>Duis lacinia mauris tortor, eu aliquam lectus tincidunt nec. Vivamus venenatis tellus at turpis fringilla, a placerat turpis gravida. Praesent in lobortis nulla, id gravida elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris vitae scelerisque massa.</p>
    </li>
    <li>
        <img src="{{ asset('build/images/logos/clients/maison-de-la-danse.png') }}" alt="">
        <p>Duis lacinia mauris tortor, eu aliquam lectus tincidunt nec. Vivamus venenatis tellus at turpis fringilla, a placerat turpis gravida. Praesent in lobortis nulla, id gravida elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris vitae scelerisque massa.</p>
    </li>
    <li>
        <img <img src="{{ asset('build/images/logos/clients/musique-music.png') }}" alt="">
        <p>Duis lacinia mauris tortor, eu aliquam lectus tincidunt nec. Vivamus venenatis tellus at turpis fringilla, a placerat turpis gravida. Praesent in lobortis nulla, id gravida elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris vitae scelerisque massa.</p>
    </li>
    <li>
        <img <img src="{{ asset('build/images/logos/clients/panneau-pocket.png') }}" alt="">
        <p>Duis lacinia mauris tortor, eu aliquam lectus tincidunt nec. Vivamus venenatis tellus at turpis fringilla, a placerat turpis gravida. Praesent in lobortis nulla, id gravida elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris vitae scelerisque massa.</p>
    </li>
    <li>
        <img <img src="{{ asset('build/images/logos/clients/wotol.png') }}" alt="">
        <p>Duis lacinia mauris tortor, eu aliquam lectus tincidunt nec. Vivamus venenatis tellus at turpis fringilla, a placerat turpis gravida. Praesent in lobortis nulla, id gravida elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris vitae scelerisque massa.</p>
    </li>
</ul>
