<footer class="footer">
    <div class="container">
        <div class="footer__contact">
            <div class="catchphrase">
                <p class="h1">Le monde du DevOps vous semble obscur ?</p>
                <p>Contactez-nous, nous vous aiderons à y <strong>voir plus clair</strong>.</p>
            </div>
            <div class="contact-tiles">
                <span class="contact-tiles__item">
                    <i class="icon icon--location" aria-hidden="true"></i>
                    <span>
                        <span class="title">Passez nous voir !</span>
                        <span>Nous sommes à Lyon !</span>
                        <span>{{ site.contact.address }}</span>
                    </span>
                </span>
                <span class="contact-tiles__item">
                    <i class="icon icon--message" aria-hidden="true"></i>
                    <span>
                        <span class="title">Par téléphone ou par mail</span>
                        <a href="tel:{{ site.contact.phoneto }}">{{ site.contact.phone }}</a>
                        <a href="mailto:contact@rix.fr">{{ site.contact.email }}</a>
                    </span>
                </span>
            </div>
        </div>
        <div class="footer__brand">
            <img src="{{ asset('build/images/logos/logo-horizontal-white.svg') }}" alt="Rix">
            <span>Expertise et outilllage DevOps</span>
        </div>
        <nav class="footer__links">
            <div class="pages">
                <ul>
                    {% for item in site.footer %}
                        <li>
                            <a href="{{ nav_item_url(item) }}">{{ item.label }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="services">
                <a href="{{ path('services') }}">Nos services</a>
                <div>
                    {% for col in site.footerServices %}
                        <ul>
                            {% for item in col %}
                                <li>
                                    <a href="{{ nav_item_url(item) }}">{{ item.label }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </nav>
        <div class="footer__legals">
            <span>©{{ 'now'|date('Y') }} - Rix - Tous droits réservés</span>
            -
            <a href="{{ path('legal') }}">Mentions légales</a>
            -
            <a href="{{ path('privacy') }}">Données personnelles</a>
        </div>
    </div>
</footer>
