{% import "macros.html.twig" as macros %}

<ul>
    {% for caseStudy in lastCaseStudies %}
    <li class="case-study__item">
        <a href="{{ path('case_study', { caseStudy: caseStudy.slug }) }}">
            <div class="case-study__image" style="{{ macros.backgroundImageSrcset(caseStudy.images|first, 'case_study_thumbnail.lg') }}"></div>
            <div class="case-study__content">
                <span class="case-study__name">{{ caseStudy.title }}</span>
                <h3>{{ caseStudy.title }}</h3>
                <p>{{ caseStudy.shortDescription }}</p>
                <span class="sliding-button sliding-button--mobile">
                    <span class="sliding-button__content">
                        <i class="icon icon--arrow" aria-hidden="true"></i>
                        Voir lՎtude de cas
                    </span>
                </span>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>

