<nav class="nav-mobile">
    <div class="nav-mobile__header">
        <a href="{{ path('homepage') }}">
            <img src="{{ asset('build/images/logos/logo-horizontal-white.svg') }}" alt="" class="logo">
        </a>
        <button class="nav-toggle nav-toggle--close">
            <i class="icon icon--close" aria-hidden="true"></i>
            <span class="screen-reader">Fermer le menu</span>
        </button>
    </div>
    <ul>
        {% for item in site.menu|filter(item => item.mobile ?? true) %}
            {% if (item.path != "case_studies") or site.caseStudies.enabled %}
                <li class="nav-mobile__item {{ app.request.attributes.get( '_route' ) == item.path ? 'nav-mobile__item--active' }} {{ item.mobileClass|default('') }}">
                    <a href="{{ nav_item_url(item) }}">
                        {{ item.label }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        <li class="nav-mobile__item nav-mobile__item--icon">
            <a href="{{ path('contact') }}">
                {{ include('partials/contact-icon.html.twig') }}
                Contactez-nous
            </a>
        </li>
    </ul>
</nav>
<button class="nav-toggle nav-toggle--open">
    <i class="icon icon--hamburger" aria-hidden="true"></i>
    <span class="screen-reader">Ouvrir le menu</span>
</button>
