{% import "macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% block meta_locale article.lang %}

{% block meta_title article.title %}
{% block meta_description article.description %}

{% block og_image asset(article.thumbnail|glide_image_preset('opengraph_image')) %}
{% block twitter_image absolute_url(asset(article.thumbnail|glide_image_preset('twitter_card'))) %}

{% block meta %}
    {{ parent() }}

    <link rel="alternate" type="application/rss+xml" href="{{ path('blog_rss') }}" title="Le blog de l'équipe Rix" />
{% endblock %}

{% block body_class 'page-article' %}

{% block content %}
    <div class="banner banner--blog">
        <div class="container">
            <h1>
                Blog
                <strong>/</strong>
            </h1>
        </div>
    </div>

    <div class="beveled-wrapper">
        <div class="beveled-wrapper__gradient">
            <div class="container shape"><!-- 🐺 shape --></div>
            <div class="container content">
                <ul class="tags-list">
                    {% for tag in article.tags %}
                        <li class="tags-list__item">
                            <a href="{{ path('blog_tag', { tag: tag }) }}" rel="nofollow">#{{ tag|u.camel.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <h2 class="h2--large">{{ article.title }}</h2>
                <p>{{ article.description }}</p>
                <div class="article-overview">
                    {% if article.tableOfContent is not empty %}
                    <ol class="table-of-contents">
                            {% for headline in article.tableOfContent %}
                                <li class="table-of-contents__item">
                                    <a href="#{{ headline.id }}">{{ headline.content }}</a>
                                    {% if headline.children is not empty %}
                                        <ol class="table-of-contents__sub-level">
                                            {% for child in headline.children %}
                                                <li>
                                                    <a href="#{{ child.id }}">{{ child.content }}</a>
                                                </li>
                                            {% endfor %}
                                        </ol>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                    <div class="article-info">
                        {% set authors = article.authors|length > 5 ? [] : article.authors %}
                        {% block author_header %}
                            <div class="author {{ authors|length > 1 ? 'author--multi' : '' }}">
                                <div class="author__image">
                                    {% for author in authors %}
                                        <img {{ macros.imageSrcset(author.avatar(), 'author_avatar') }} />
                                    {% else %}
                                        <img {{ macros.imageSrcset('images/members/avatars/rix-team.jpg', 'author_avatar') }} />
                                    {% endfor %}
                                </div>
                                <span class="author__info">
                                    Écrit par
                                    {% for author in authors %}
                                        <strong>{{ author.name }}</strong>
                                    {% else %}
                                        <strong>La team Rix</strong>
                                    {% endfor %}
                                </span>
                            </div>
                        {% endblock %}
                        <div class="article-info__date">
                            <span>Publication <strong>{{ article.date|format_date('long') }}</strong></span>
                            {# Do only display the last modified date if not null and different day than the publication date #}
                            {% if article.lastModified and article.lastModified > article.date|date_modify('+1 day 00:00') %}
                                <span>Modification <strong>{{ article.lastModified|format_date('long') }}</strong></span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <main>
                    {% if article.outdated %}
                        <div class="alert alert--info">
                            <i class="icon icon--info" aria-hidden="true"></i>
                            <div>
                                {% if article.outdated is same as true %}
                                    <p>Attention, cet article date un peu, il est peut-être obsolète, gardez cela en tête lors de votre lecture !</p>
                                {% else %}
                                    {{ article.outdated|nl2br|markdownify|raw }}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    {% if not article.published %}
                        <div class="alert alert--error">
                            <i class="icon icon--danger" aria-hidden="true"></i>
                            <div>
                                <p>Cet article n'est pas encore publié. Cet aperçu est disponible uniquement dans cet environnement mais n'apparaîtra en production qu'à partir du {{ article.date|format_date('long') }}</p>
                            </div>
                        </div>
                    {% endif %}
                    {{ article.content|raw }}
                    {% block credits %}
                        {% if article.credits %}
                            <div class="article-credits">
                                Crédits: photo de couverture par
                                {% if article.credits.url %}
                                    <a href="{{ article.credits.url }}">
                                        {{ article.credits.name }}
                                    </a>
                                {% else %}
                                    {{ article.credits.name }}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endblock %}
                </main>
                <div class="article-footer" data-aos="fade-in">
                    {% block author_footer %}
                        {% for author in article.authors %}
                            <div class="author">
                                <div class="author__image">
                                    <img {{ macros.imageSrcset(author.avatar(), 'author_avatar') }} />
                                </div>
                                <span class="author__info">
                                    {{ loop.first ? 'Écrit par' : 'Co-écrit par' }}
                                    <strong>{{ author.name }}</strong>
                                </span>
                                <div class="author__social">
                                    {% if author.twitter %}
                                        <a href="https://twitter.com/{{ author.twitter }}">
                                            <i class="icon icon--twitter" aria-hidden="true"></i>
                                            <span class="screen-reader">Compte twitter de {{ author.name }}</span>
                                        </a>
                                    {% endif %}
                                    {% if author.github %}
                                        <a href="https://github.com/{{ author.github }}">
                                            <i class="icon icon--github" aria-hidden="true"></i>
                                            <span class="screen-reader">Compte github de {{ author.name }}</span>
                                        </a>
                                    {% endif %}
                                    {% if author.website %}
                                        <a href="{{ author.website }}">
                                            <i class="icon icon--website" aria-hidden="true"></i>
                                            <span class="screen-reader">Site personnel de {{ author.name }}</span>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endblock %}
                </div>
                {% if article.tweetId is not empty or article.githubEditLink is not empty %}
                    <div class="comment">
                        {% if article.tweetId is not empty %}
                            <p class="title">Commenter</p>
                            <p>
                                Des commentaires ?
                                <a href="{{ external_url('twitter_rix_tweet', { tweetId: article.tweetId }) }}" target="_blank">
                                    Poursuivons la discussion sur twitter !
                                </a>
                            </p>
                            <div id="tweet-container" class="tweet-container" data-tweet-id="{{ article.tweetId }}"></div>
                        {% endif %}
                        {% if article.githubEditLink is not empty %}
                            <p>
                                Une typo ?
                                <a href="{{ article.githubEditLink }}" target="_blank">Modifier cet article sur Github</a>
                            </p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://platform.twitter.com/widgets.js"></script>
    <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

    <script>
        window.onload = (function(){
            var tweets = document.querySelectorAll('.tweet-container');
            tweets.forEach(function(tweet) {
                // https://developer.twitter.com/en/docs/twitter-for-websites/embedded-tweets/guides/embedded-tweet-parameter-reference
                twttr.widgets.createTweet(tweet.getAttribute('data-tweet-id'), tweet, {
                    conversation: 'none',
                    cards: 'hidden',
                    theme: 'light',
                    lang: 'fr',
                    align: 'center',
                    width: 550, // default
                    dnt: true,
                })
            })
        });
    </script>
{% endblock %}
