{% import "macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% block meta_title "Le blog de l'équipe Rix" %}
{% block meta_description "Découvrez nos articles techniques (ou non), rédigés par les membres de l'équipe Rix !" %}

{% block meta %}
    {{ parent() }}

    <link rel="alternate" type="application/rss+xml" href="{{ path('blog_rss') }}" title="Le blog de l'équipe Rix" />
{% endblock %}

{% block body_class 'page-blog' %}

{% block content %}

    <div class="banner banner--blog">
        <div class="container">
            <h1>
                Blog <strong>/</strong>
            </h1>
        </div>
    </div>

    <div class="beveled-wrapper">
        <div class="beveled-wrapper__gradient">
            <div class="container shape"><!-- bevel shape --></div>
            <div class="container content">
                <ul class="miniature-list">
                    {% for article in articles %}
                        {% if page == minPage and loop.first %}
                            <li class="miniature-highlight">
                                <a href="{{ path('blog_article', { article: article.slug }) }}" class="miniature-highlight__content">
                                    <div class="details">
                                        <span class="date">{{ article.date|format_date('medium') }}</span>
                                        <h2>{{ article.title }}</h2>
                                        <p>{{ article.description }}</p>
                                    </div>
                                    <div class="miniature-highlight__image" style="{{ macros.backgroundImageSrcset(article.thumbnail, 'article_thumbnail.lg') }};">
                                    </div>
                                </a>
                                <div class="miniature-highlight__tags">
                                    <ul class="tags-list">
                                        {% for tag in article.tags %}
                                            <li class="tags-list__item">
                                                <span>#{{ tag|u.camel.title }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="miniature-highlight__author">
                                    <div class="author author--multi">
                                        <div class="author__image">
                                            {% for author in article.authors %}
                                                <img {{ macros.imageSrcset(author.avatar(), 'author_avatar') }} />
                                            {% else %}
                                                <img {{ macros.imageSrcset('content/images/members/avatars/rix.png', 'author_avatar') }} />
                                            {% endfor %}
                                        </div>
                                        <span class="author__info">
                                            Écrit par
                                            {% for author in article.authors %}
                                                <strong>{{ author.name }}</strong>
                                            {% else %}
                                                <strong>La team Rix</strong>
                                            {% endfor %}
                                        </span>
                                    </div>
                                </div>
                            </li>
                        {% elseif page == minPage and loop.index < 5 %}
                            <li class="miniature-inline">
                                <a href="{{ path('blog_article', { article: article.slug }) }}">
                                    <div class="miniature-inline__image" style="{{ macros.backgroundImageSrcset(article.thumbnail, 'article_thumbnail.md') }}">
                                    </div>
                                    <div class="miniature-inline__content">
                                        <h2 class="h3">{{ article.title }}</h2 class="h3">
                                        <p>{{ article.description }}</p>
                                        <ul class="tags-list">
                                            {% for tag in article.tags %}
                                                <li class="tags-list__item">
                                                    #{{ tag|u.camel.title }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <span class="sliding-button sliding-button--mobile">
                                            <span class="sliding-button__content">
                                                <i class="icon icon--arrow-right" aria-hidden="true"></i>
                                                Lire l'article
                                            </span>
                                        </span>
                                    </div>
                                </a>
                            </li>
                        {% else %}
                            <li class="miniature">
                                <a href="{{ path('blog_article', { article: article.slug }) }}">
                                    <div class="miniature__image" style="{{ macros.backgroundImageSrcset(article.thumbnail, 'article_thumbnail.sm') }}"></div>
                                    <div class="miniature__content">
                                        <h2 class="h3">{{ article.title }}</h2>
                                        <p>{{ article.description }}</p>
                                        <ul class="tags-list">
                                            {% for tag in article.tags %}
                                                <li class="tags-list__item">
                                                    #{{ tag|u.camel.title }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <span class="sliding-button sliding-button--mobile">
                                            <span class="sliding-button__content">
                                                <i class="icon icon--arrow-right" aria-hidden="true"></i>
                                                Lire l'article
                                            </span>
                                        </span>
                                    </div>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% include 'blog/pagination.html.twig' with {
                    route: 'blog_page',
                    minPageRoute: 'blog',
                } %}
            </div>
        </div>
    </div>
{% endblock %}
