{% import "macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% block meta_title "Le blog de l'équipe Rix" %}
{% block meta_description "Découvrez nos articles techniques (ou non), rédigés par les membres de l'équipe Rix !" %}

{% block meta %}
    {{ parent() }}

    <link rel="alternate" type="application/rss+xml" href="{{ path('blog_rss') }}" title="Le blog de l'équipe Rix" />
{% endblock %}

{% block body_class 'page-blog' %}

{% block content %}

    <div class="banner">
        <div class="container">
            <h1>Blog <strong>/</strong>
            </h1>
        </div>
    </div>

    <div class="beveled-wrapper">
        <div class="beveled-wrapper__gradient">
            <div class="container shape"><!-- 🐺 shape --></div>
            <div class="container content">
                <ul class="miniature-list">
                    {% for article in articles %}
                        {% if page == minPage and loop.first %}
                            <li class="miniature-highlight">
                                <div class="miniature-highlight__content">
                                    <a href="{{ path('blog_article', { article: article.slug }) }}" class="details">
                                        <h2 class="h3">{{ article.date|format_date('medium') }}</h3>
                                        <h2 class="title">{{ article.title }}</h2>
                                        <p>{{ article.description }}</p>
                                    </a>
                                    <a href="{{ path('blog_article', { article: article.slug }) }}" class="miniature-highlight__image">
                                        <span class="image" style="{{ macros.backgroundImageSrcset(article.thumbnail, 'article_thumbnail.lg') }};"></span>
                                    </a>
                                </div>
                                <div class="miniature-highlight__info">
                                    <ul class="tags-list">
                                        {% for tag in article.tags %}
                                            <li class="tags-list__item">
                                                <a href="{{ path('blog_tag', { tag: tag }) }}" rel="nofollow">
                                                    #{{ tag|u.camel.title }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="info">
                                        <div class="article-author article-author--multi">
                                            <div class="article-author__image">
                                                <a><img src="https://via.placeholder.com/50x50"></a>
                                                <a><img src="https://via.placeholder.com/50x50"></a>
                                            </div>
                                            <span class="article-author__info">
                                                Écrit par
                                                <a><strong>Florian Rey</strong></a>
                                                <a><strong>Guewen Faivre</strong></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% elseif page == minPage and loop.index < 5 %}
                            <li class="miniature-inline">
                                <a href="{{ path('blog_article', { article: article.slug }) }}">
                                    <div class="miniature-inline__image">
                                        <span class="image" style="{{ macros.backgroundImageSrcset(article.thumbnail, 'article_thumbnail.md') }}"></span>
                                    </div>
                                    <div class="miniature-inline__content">
                                        <h3>{{ article.title }}</h3>
                                        <p>{{ article.description }}</p>
                                        <ul class="tags-list">
                                            {% for tag in article.tags %}
                                                <li class="tags-list__item">
                                                    #{{ tag|u.camel.title }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <span class="sliding-button sliding-button--mobile">
                                            <span class="sliding-button__content">
                                                <i class="icon icon--arrow-right" aria-hidden="true"></i>
                                                Lire l'article
                                            </span>
                                        </span>
                                    </div>
                                </a>
                            </li>
                        {% else %}
                            <li class="miniature">
                                <a href="{{ path('blog_article', { article: article.slug }) }}">
                                    <div class="miniature__image" style="{{ macros.backgroundImageSrcset(article.thumbnail, 'article_thumbnail.sm') }}"></div>
                                    <div class="miniature__content">
                                        <h3>{{ article.title }}</h3>
                                        <p>{{ article.description }}</p>
                                        <ul class="tags-list">
                                            {% for tag in article.tags %}
                                                <li class="tags-list__item">
                                                    #{{ tag|u.camel.title }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <span class="sliding-button sliding-button--mobile">
                                            <span class="sliding-button__content">
                                                <i class="icon icon--arrow-right" aria-hidden="true"></i>
                                                Lire l'article
                                            </span>
                                        </span>
                                    </div>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% include 'blog/pagination.html.twig' with {
                    route: 'blog_page',
                    minPageRoute: 'blog',
                } %}
            </div>
        </div>
    </div>
{% endblock %}
