<!DOCTYPE html>
<html lang="{% block meta_locale app.request.locale %}" class="no-js">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block meta_title site.title %}</title>

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('site.webmanifest') }}">
        {#<link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#ff4344">#}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
        <meta name="msapplication-TileColor" content="#ff4344">
        <meta name="msapplication-config" content="{{ asset('browserconfig.xml') }}">
        <meta name="theme-color" content="#ffffff">

        {% block meta %}
            <meta name="description" content="{% block meta_description site.description %}" />
            <link rel="canonical" href="{{ app.request.uri }}" />

            <!-- Open Graph / Facebook -->
            {% set og_type %}{% block og_type %}website{% endblock %}{% endset %}
            {% if og_type|default(false) %}
                <meta property="og:type" content="{{ og_type }}">
            {% endif %}
            <meta property="og:title" content="{% block og_title block('meta_title') %}" />
            <meta property="og:locale" content="{% block og_locale block('meta_locale') %}" />
            <meta property="og:description" content="{% block og_description block('meta_description') %}" />
            <meta property="og:url" content="{{ app.request.uri }}" />
            <meta property="og:site_name" content="rix" />

            {% set og_image %}{% block og_image %}{{ absolute_url(asset('social/og-default.jpg')) }}{% endblock %}{% endset %}
            {% if og_image|default(false) %}
                <meta property="og:image" content="{{ og_image }}">
            {% endif %}
            {% set og_image_alt %}{% block og_image_alt %}Rix - Expertise et outillage DevOps{% endblock %}{% endset %}
            {% if og_image_alt|default(false) %}
                <meta property="og:image:alt" content="{{ og_image_alt }}">
            {% endif %}

            <!-- Twitter -->
            <meta property="twitter:card" content="{% block twitter_card_type 'summary_large_image' %}">
            <meta property="twitter:title" content="{% block twitter_title block('meta_title') %}">
            <meta property="twitter:description" content="{% block twitter_description block('meta_description') %}">
            <meta property="twitter:site" content="@{{ site.social.twitter_user }}">
            <meta property="twitter:creator" content="@{{ site.social.twitter_user }}">
            {% set twitter_image %}{% block twitter_image %}{{ absolute_url(asset('social/twitter-default.jpg')) }}{% endblock %}{% endset %}
            {% if twitter_image|default(false) %}
                <meta property="twitter:image" content="{{ twitter_image }}">
            {% endif %}
        {% endblock %}

        {# Optional no-index #}
        {% if forceNoIndex or noindex ?? false %}
            <meta name="robots" content="noindex" />
        {% endif %}

        <script>
            {# Detect as soon as possible if JS is available #}
            document.querySelector('html').classList.remove('no-js');
        </script>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            {% if site.trackers.matomo is not empty %}
                <!-- Matomo -->
                <script type="text/javascript">
                    var _paq = window._paq = window._paq || [];
                    _paq.push(['trackPageView']);
                    _paq.push(['enableLinkTracking']);
                    (function() {
                        var u="//metrics.elao.com/";
                        _paq.push(['setTrackerUrl', u+'matomo.php']);
                        _paq.push(['setSiteId', '{{ site.trackers.matomo }}']);
                        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                        g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
                    })();
                </script>
                <!-- End Matomo Code -->
            {% endif %}
        {% endblock %}

    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% block header %}
            <header class="header">
                <div class="container">
                    <a href="{{ path('homepage') }}">
                        <img src="{{ asset('build/images/logos/logo-horizontal.svg') }}" alt="" class="logo">
                        <span class="screen-reader">Retour à l'accueil</span>
                    </a>

                    {% block desktop_nav %}
                        {{ include('partials/nav.html.twig') }}
                    {% endblock %}

                    {% block mobile_nav %}
                        {{ include('partials/nav-mobile.html.twig') }}
                    {% endblock %}
                </div>
            </header>
        {% endblock %}
        <main>
            {% block content %}{% endblock %}
        </main>
        {% block footer %}
            {{ include('partials/footer.html.twig') }}
        {% endblock %}
    </body>
</html>
