{% import "macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% set interval = date('now').diff(date(site.xpDate)) %}
{% block meta_title "Réalisations web : revue de nos projets depuis %d ans | Rix"|format(interval.y) %}
{% block meta_description "Découvrez quelques unes des applications web et mobile réalisées depuis %d ans chez Rix"|format(interval.y) %}
{% block og_image asset('social/og-default.jpg')  %}
{% block twitter_image absolute_url(asset('social/twitter-default.jpg'))  %}

{% block body_class 'page-casebook' %}

{% block content %}

    <div class="banner">
        <div class="container">
            <h1>Découvrez</br>nos <strong>études de cas</strong>
            </h1>
        </div>
    </div>

    <div class="beveled-wrapper">
        <div class="beveled-wrapper__gradient">
            <div class="container shape"><!-- 🐺 shape --></div>
            <div class="container content">
                <h2>La réalité du terrain</h2>
                <p>Voici une sélection récente de projets dans lesquels nous avons pu voir se créer une émulation forte avec nos clients et leurs utilisateurs.</p>
                <div class="case-study">
                    <ul>
                        {% for caseStudy in caseStudies %}
                        <li class="case-study__item">
                            <a href="{{ path('case_study', { caseStudy: caseStudy.slug }) }}">
                                <div class="case-study__image" style="{{ macros.backgroundImageSrcset(caseStudy.images|first, 'case_study_thumbnail.lg') }}"></div>
                                <div class="case-study__content">
                                    <span class="case-study__name">{{ caseStudy.title }}</span>
                                    <h3>{{ caseStudy.title }}</h3>
                                    <p>{{ caseStudy.shortDescription }}</p>
                                    <span class="sliding-button sliding-button--mobile">
                                        <span class="sliding-button__content">
                                            <i class="icon icon--arrow" aria-hidden="true"></i>
                                            Voir l’étude de cas
                                        </span>
                                    </span>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container"></div>
{% endblock %}
