{% import "macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% block meta_title -%}
    {{ caseStudy.metaTitle|default(caseStudy.title) }} | {{ parent() }}
{%- endblock %}

{% block meta_description -%}
    {{ caseStudy.metaDescription|default(caseStudy.description)|default(parent()) }}
{%- endblock %}

{# {% block og_image asset(caseStudy.images|first|glide_image_preset('opengraph_image')) %}
{% block twitter_image absolute_url(asset(caseStudy.images|first|glide_image_preset('twitter_card'))) %} #}
{% block body_class 'page-case-study' %}

{% block content %}

    <div class="banner">
        <div class="container">
            <h1>{{ caseStudy.title }}</h1>
        </div>
    </div>

    <div class="beveled-wrapper">
        <div class="beveled-wrapper__gradient">
            <div class="container shape"><!-- 🐺 shape --></div>
            <div class="container content">
                <div class="case-study__header">
                    <h2 class="case-study__title">{{ caseStudy.title }}</h2>
                    <p>Musique & Music est un éditeur spécialisé dans la musique de production dédiée aux professionnels. L'application web permet aux monteurs vidéos de chercher facilement des sons afin d'illustrer leurs productions.</p>
                    <span class="h3--small">Services</span>
                    <h3 class="h3--dark">Infrastructure<br>Développement</h3>
                </div>
                <div class="site-navigation">
                    <div class="site-navigation__image"></div>
                    <div class="site-navigation__content">
                        <a href="https://github.com/manala" class="button button-ghost button-ghost--light"><span>Voir le site</span></a>
                    </div>
                </div>
            </div>
            <div class="container content">
                <div class="technologies-list">
                    <div class="technologies-list__title">
                        <span class="h3--small">Les technos utilisées</span>
                    </div>
                    <ul>
                        <li class="technologies-list__item">
                            <a href="#">
                                <img src="http://localhost:8080/build/images/services/ovh-cloud.c7447829.svg" alt="OVH Cloud">
                                <span>Ovh Cloud</span>
                            </a>
                        </li>
                        <li class="technologies-list__item">
                            <a href="#">
                                <img src="http://localhost:8080/build/images/services/aws.4d8ec02e.svg" alt="AWS">
                                <span>Amazon Web Service</span>
                            </a>
                        </li>
                        <li class="technologies-list__item">
                            <a href="#">
                                <img src="http://localhost:8080/build/images/services/scaleway.d2dc5698.svg" alt="Scaleway">
                                <span>Scaleway</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <h2>L'expertise Elao déployée pour l'application Musique Music</h2>
                <h3 class="h2--large"><span>Le contexte du projet</span></h3>
                <p>Musique & Music est un éditeur spécialisé dans la musique de production dédiée aux professionnels. L'application web permet aux monteurs vidéos de chercher facilement des sons afin d'illustrer leurs productions. Parmi les atouts de l'application, il y a notamment la richesse du catalogue, la fluidité de la recherche et la pertinence des résultats proposés. Une recherche par similarité permet aux clients de Musique & Music de rechercher finement un style de musique en important des fichiers audio.</p>
                <ul>
                    <li>Toute l'équipe est impliquée de manière forte</li>
                    <li>Aucune perte d'information</li>
                </ul>
                <figure>
                    <div class="case-study__image"></div>
                    <figcaption>Légende</figcaption>
                </figure>
                <h2>L'expertise Elao déployée pour l'application Musique Music</h2>
                <h3 class="h2--large"><span>Le contexte du projet</span></h3>
                <p>Musique & Music est un éditeur spécialisé dans la musique de production dédiée aux professionnels. L'application web permet aux monteurs vidéos de chercher facilement des sons afin d'illustrer leurs productions. Parmi les atouts de l'application, il y a notamment la richesse du catalogue, la fluidité de la recherche et la pertinence des résultats proposés. Une recherche par similarité permet aux clients de Musique & Music de rechercher finement un style de musique en important des fichiers audio.</p>
                <blockquote>
                    Musique & Music est un éditeur spécialisé dans la musique de production dédiée aux professionnels.
                </blockquote>
                <h3 class="h2--large"><span>Pour les professionnels du montage vidéo : une bibliothèque de musique fluide et dynamique</span></h3>
                <p>Musique & Music est un éditeur spécialisé dans la musique de production dédiée aux professionnels. L'application web permet aux monteurs vidéos de chercher facilement des sons afin d'illustrer leurs productions. Parmi les atouts de l'application, il y a notamment la richesse du catalogue, la fluidité de la recherche et la pertinence des résultats proposés. Une recherche par similarité permet aux clients de Musique & Music de rechercher finement un style de musique en important des fichiers audio.</p>
                <p>Une recherche par similarité permet aux clients de Musique & Music de rechercher finement un style de musique en important des fichiers audio.</p>
                <div class="iframe-container">
                    <iframe class="iframe" width="560" height="315" src="https://www.youtube.com/embed/QR1zeImAkvY" frameborder="0" allowfullscreen title="La vidéo Youtube qui fête les 5 ans de PanneauPocket"></iframe>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="case-study">
                <h2 class="h2--large">
                    <span>Cas client</span>
                    Études de cas
                </h2>
                <ul>
                    <li class="case-study__item">
                        <a href="#">
                            <div class="case-study__image"></div>
                            <div class="case-study__content">
                                <span class="case-study__name">Nom du projet</span>
                                <h3>Panneau pocket</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <span class="sliding-button sliding-button--mobile">
                                    <span class="sliding-button__content">
                                        <i class="icon icon--arrow" aria-hidden="true"></i>
                                        Voir l’étude de cas
                                    </span>
                                </span>
                            </div>
                        </a>
                    </li>
                    <li class="case-study__item">
                        <a href="#">
                            <div class="case-study__image"></div>
                            <div class="case-study__content">
                                <span class="case-study__name">Nom du projet</span>
                                <h3>Bedrock</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <span class="sliding-button sliding-button--mobile">
                                    <span class="sliding-button__content">
                                        <i class="icon icon--arrow" aria-hidden="true"></i>
                                        Voir l’étude de cas
                                    </span>
                                </span>
                            </div>
                        </a>
                    </li>
                    <li class="case-study__item">
                        <a href="#">
                            <div class="case-study__image"></div>
                            <div class="case-study__content">
                                <span class="case-study__name">Nom du projet</span>
                                <h3>Matelex</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <span class="sliding-button sliding-button--mobile">
                                    <span class="sliding-button__content">
                                        <i class="icon icon--arrow" aria-hidden="true"></i>
                                        Voir l’étude de cas
                                    </span>
                                </span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

   {#  <div class="page-project container">

        <div class="banner-case-study">

            <div class="banner-case-study__content">
                <div class="highlight">
                    <!--
                        Description brève du projet ou du client
                        Recommandé : 50 à 150 caractères
                    -->
                    <p>{{ caseStudy.description }}</p>
                    <i class="icon icon--semicolon" aria-hidden="true"></i>
                </div>

                <!--
                    3 images de preview maximum dont :
                        - 1 image principale obligatoire
                            - dans <div class="preview__main">
                            - dimensions 630x380px
                        - 2 images facultatives (mais préférables !)
                            - dans <div class="preview__list">
                            - dimensions 240x160px
                -->
                <div class="preview">
                    <div class="preview__main">
                        <img {{ macros.imageSrcset(caseStudy.images|first, 'case_study_banner') }} />
                    </div>
                    <div class="preview__list">
                        <ul>
                            {% for image in caseStudy.images|slice(1, 2) %}
                                <li>
                                    <img src="{{ asset(image) }}">
                                </li>
                            {% endfor %}
                        </ul>
                        <!-- Si aucun lien vers le site possible, ajouter .hidden au bouton pour le cacher et ne pas casser le layout -->
                        <a href="{{ caseStudy.websiteUrl }}" class="btn btn--secondary btn--animated {{ caseStudy.websiteUrl is empty ? 'hidden' }}" target="_blank">
                            <span>
                                Voir le site
                            </span>
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <div class="page-project__detail">
            <ul class="tile-list">
                <li>
                    <small>Client</small>
                    <p>{{ caseStudy.clients }}</p>
                </li>
                <li class="tile">
                    <small>Taille du projet</small>
                    <p>{{ caseStudy.size }}</p>
                </li>
            </ul>
            <ul class="tile-list">
                <li class="tile tile--medium">
                    <small>Services Rix</small>
                    {% for service in caseStudy.services %}
                        <p>{{ service }}</p>
                    {% endfor %}
                </li>
                <li class="tile tile--large">
                    <small>Technologies</small>
                    {% include "glossary/term_list.html.twig" with {
                        terms: caseStudy.terms,
                        list_class: 'technologies technologies--light'
                    } only %}
                </li>
            </ul>
        </div>

        <div class="page-project__content">
            {{ caseStudy.content|raw }}

            <h2 class="h2--dash">D'autres études de cas</h2>
            <ul class="article-list">
                {% with %}
                    {% for caseStudy in randomStudies %}
                    <li class="miniature miniature--large">
                        <a href="{{ path('case_study', { caseStudy: caseStudy.slug }) }}" class="miniature__image">
                            <span class="image" style="{{ macros.backgroundImageSrcset(caseStudy.images|first, 'case_study_thumbnail.lg') }}"></span>
                        </a>
                        <div class="miniature__content">
                            <span class="info">{{ caseStudy.clients }}</span>
                            <a href="{{ path('case_study', { caseStudy: caseStudy.slug }) }}" class="title">{{ caseStudy.title }}</a>
                            <p class="description">{{ caseStudy.description }}</p>
                            <a href="{{ path('case_study', { caseStudy: caseStudy.slug }) }}" class="btn btn--secondary btn--animated">
                                <span>
                                    Voir l'étude de cas
                                </span>
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                {% endwith %}
            </ul>
        </div>
    </div> #}
{% endblock content %}
